# path:       /home/klassiker/.config/systemd/user/aria2cd.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-10-29T14:55:07+0100

[Unit]
Description=aria2 daemon

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2d.conf

[Install]
WantedBy=i3.target
