# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/aria2cd.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2025-07-27T05:42:47+0200

[Unit]
Description=aria2 daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2d.conf

[Install]
WantedBy=multi-user.target
