# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/aria2cd.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2021-06-23T11:08:05+0200

[Unit]
Description=aria2 daemon
PartOf=i3.target

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2d.conf

[Install]
WantedBy=i3.target
