# path:       /home/klassiker/.config/systemd/user/authentication.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-06-04T16:50:13+0200

[Unit]
Description=polkit gnome authentication agent

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

[Install]
WantedBy=default.target
