# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/gestures.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2021-06-23T11:07:57+0200

[Unit]
Description=libinput gestures for synaptics touchpad
PartOf=i3.target

[Service]
Type=forking
ExecStart=/usr/bin/libinput-gestures-setup start
ExecStop=/usr/bin/libinput-gestures-setup stop

[Install]
WantedBy=i3.target
