# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/i3.target
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dotfiles
# date:   2025-08-05T05:41:13+0200

[Unit]
Description=i3 window manager session
Requires=default.target
After=default.target
