# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/i3_autotiling.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2024-01-29T16:51:45+0100

[Unit]
Description=i3 optimal tiling
PartOf=i3.target

[Service]
Type=simple
ExecStart=%h/.local/share/repos/i3/i3_autotiling.sh

[Install]
WantedBy=i3.target
