# path:   /home/klassiker/Projects/repos/dotfiles/.config/systemd/user/numlockx.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dotfiles
# date:   2026-07-17T02:34:33+0200

[Unit]
Description=enable numlock
PartOf=i3.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/numlockx on
ExecStop=/usr/bin/numlockx off

[Install]
WantedBy=i3.target
