# path:       /home/klassiker/.config/systemd/user/picom.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-12-17T16:29:13+0100

[Unit]
Description=picom compositor

[Service]
Type=forking
ExecStart=/usr/bin/picom -b

[Install]
WantedBy=i3.target
