[Unit]
Description=picom compositor
PartOf=default.target
After=nitrogen.service

[Service]
Type=forking
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/picom -b

[Install]
WantedBy=window-manager.target
