# path:   /home/klassiker/Projects/repos/dotfiles/.config/systemd/user/polybar.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dotfiles
# date:   2026-07-17T02:34:44+0200

[Unit]
Description=polybar status bars
After=picom.service
PartOf=i3.target

[Service]
Type=forking
WorkingDirectory=%h/.config/polybar
ExecStart=%h/Projects/repos/polybar/polybar.sh
ExecStop=%h/Projects/repos/polybar/polybar.sh --kill

[Install]
WantedBy=i3.target
