# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/polybar.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2021-05-13T21:23:12+0200

[Unit]
Description=polybar status bars
After=picom.service

[Service]
Type=forking
ExecStart=%h/.local/share/repos/polybar/polybar.sh

[Install]
WantedBy=i3.target
