# path:       /home/klassiker/.config/systemd/user/rss.timer
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-06-06T11:02:31+0200

[Unit]
Description=run rss.service every 15 minutes

[Timer]
OnCalendar=*:0/15
AccuracySec=1m
Persistent=true
Unit=rss.service

[Install]
WantedBy=timers.target
