[Unit]
Description=run rss.service every 15 minutes

[Timer]
OnUnitActiveSec=15m
AccuracySec=5m
Persistent=true
Unit=rss.service

[Install]
WantedBy=timers.target
