# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/rss.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2021-01-15T13:07:25+0100

[Unit]
Description=receive rss feeds with newsboat
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/polybar/polybar_rss.sh

[Install]
WantedBy=i3.target
