[Unit]
Description=run rss.service every 15 minutes

[Timer]
OnCalendar=*:0/15
AccuracySec=5m
Persistent=true
Unit=rss.service

[Install]
WantedBy=timers.target
