# path:       /home/klassiker/.config/systemd/user/screenlayout.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-06-04T16:57:19+0200

[Unit]
Description=setup screen layouts
PartOf=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/share/repos/shell/screenlayout.sh

[Install]
WantedBy=i3.target
