# path:       /home/klassiker/.config/systemd/user/tiling.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-04-30T18:28:36+0200

[Unit]
Description=i3 optimal tiling
PartOf=default.target
After=Screenlayout.service

[Service]
Type=simple
ExecStart=%h/.local/share/repos/i3/i3_tiling.sh

[Install]
WantedBy=window-manager.target
