# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/wacom.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/wacom
# date:   2021-10-10T19:42:59+0200

[Unit]
Description=configure wacom tablet
After=default.target
PartOf=default.target

[Service]
Type=oneshot
Environment=XAUTHORITY=%h/.local/share/xorg/Xauthority
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 3
ExecStart=%h/.local/share/repos/wacom/wacom.sh

[Install]
WantedBy=default.target
