# path:   /home/klassiker/Projects/repos/dotfiles/.config/systemd/user/wacom.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/wacom
# date:   2026-07-17T02:34:47+0200

[Unit]
Description=configure wacom tablet
PartOf=i3.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/Projects/repos/wacom/wacom.sh

[Install]
WantedBy=i3.target
