# path:   /home/klassiker/Projects/repos/dotfiles/.config/systemd/user/wallpaper.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dotfiles
# date:   2026-07-17T02:34:50+0200

[Unit]
Description=set wallpaper

[Service]
Type=oneshot
ExecStart=%h/Projects/repos/shell/wallpaper.sh

[Install]
WantedBy=i3.target
