# path:       /home/klassiker/.config/systemd/user/window-manager.target
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-04-30T18:28:41+0200

[Unit]
Description=window manager session
BindsTo=default.target
After=window-manager-pre.target
