# path:       /home/klassiker/.config/systemd/user/xautolock.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-04-30T18:28:45+0200

[Unit]
Description=xautolock to auto lock/suspend device
PartOf=default.target

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -detectsleep

[Install]
WantedBy=window-manager.target
