[Unit]
Description=auto lock/suspend device

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/xautolock -detectsleep

[Install]
WantedBy=default.target
