# path:       /home/klassiker/.config/systemd/user/xbanish.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-04-30T18:28:51+0200

[Unit]
Description=xbanish to remove mouse cursor on keypress
PartOf=default.target

[Service]
Type=simple
ExecStart=/usr/bin/xbanish

[Install]
WantedBy=window-manager.target
