# path:   /home/klassiker/.local/share/repos/dotfiles/.config/systemd/user/xhidecursor.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dotfiles
# date:   2025-08-05T05:41:39+0200

[Unit]
Description=xhidecursor to remove mouse cursor on keypress
PartOf=i3.target

[Service]
Type=simple
ExecStart=/usr/bin/xhidecursor

[Install]
WantedBy=i3.target
