# path:   /home/klassiker/Projects/repos/dotfiles/.config/systemd/user/xhidecursor.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dotfiles
# date:   2026-07-17T02:34:57+0200

[Unit]
Description=xhidecursor to remove mouse cursor on keypress
PartOf=i3.target

[Service]
Type=simple
ExecStart=/usr/bin/xhidecursor

[Install]
WantedBy=i3.target
