# path:       /home/klassiker/.config/systemd/user/xwallpaper.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-10-29T14:53:34+0100

[Unit]
Description=set wallpaper with xwallpaper
After=screenlayout.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xwallpaper --zoom %h/.local/share/wallpaper.jpg

[Install]
WantedBy=i3.target
