# path:       /home/klassiker/.config/systemd/user/xwallpaper.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-06-04T16:58:26+0200

[Unit]
Description=set wallpaper with xwallpaper
PartOf=default.target
After=screenlayout.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xwallpaper --zoom %h/.local/share/wallpaper.jpg

[Install]
WantedBy=i3.target
