# path:       /home/klassiker/.config/systemd/user/xwallpaper.service
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2020-04-30T18:28:56+0200

[Unit]
Description=set wallpaper with xwallpaper
PartOf=default.target
After=screenlayout.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xwallpaper --zoom %h/.local/share/wallpaper.jpg

[Install]
WantedBy=window-manager.target
