# path:       ~/.aliases
# user:       klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2019-12-09 20:33:54

# tools
alias cp='cp -i'                                    # confirm before overwriting something
alias more='less'                                   # show file
alias calc='python -ic "from __future__ import division; from math import *; from random import *"'
alias nf='neofetch'                                 # systeminformation

alias rg='ranger'                                   # filemanager
alias rs='sudo ranger'                              # filemanager root
alias xn='vim $HOME/coding/hidden/notes/index.md'   # notes
alias nb='newsboat -q'                              # rss reader
alias we='weechat'                                  # irc chat
alias tx='if [ -z "$TMUX" ]; then tmux attach -t mi || tmux new -s mi; fi'
alias cm='cmatrix -su 7'                            # matrix screensaver
alias wt='curl -H "Accept-Language: de" wttr.in'    # weather
alias sw='telnet towel.blinkenlights.nl'            # star wars

# git
alias dotfiles='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME'

# maintenance
alias ch='systemctl --failed && journalctl -p 3 -xb'
alias up='yay -Syu'
alias cc='yay -Yc && sudo paccache -rvk2'
alias mu='sudo pacman-mirrors -c Germany && sudo pacman -Syyu'
alias cu='ch && up'

alias sy='sync_rclone.sh'
alias dm='delete_metafiles.sh'
alias ms='maintenance_system.sh'

# ssh
alias pi='ssh hermes'
alias pi_ch='pi sys_stat.sh'
alias pi2='ssh prometheus'
alias pi2_ch='pi2 sys_stat.sh'
alias p9='ssh p9'
alias m3='ssh m3'
alias firetv='ssh firetv'
alias firetv4k='ssh firetv4k'

# vim:ft=sh
