# vim:fileencoding=utf-8:ft=conf:foldmethod=marker

# Path:     ~/.gitignore
# User:     klassiker [mrdotx]
# GitHub:   https://github.com/mrdotx/dotfiles

# special folders/files {{{
.config/ranger/plugins/
.config/qutebrowser/bookmarks/
.config/qutebrowser/qsettings/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/quickmarks
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/history.cmdline
.newsboat/history.search
# }}}

# root folders {{{
.androidch/
.avidemux6/
.cache/
.eteks/
.gnupg/
.gphoto/
.icons/
.jameica/
.java/
.kodi/
.links/
.mozilla/
.mysql/
.oh-my-zsh/
.pki
.putty/
.sane/
.ssh/
.thumbnails/
.thunderbird/
.urxvt/
.vscode-oss/
.w3m/
.weechat/
cloud/
coding/
Downloads/
dotfiles/
mount/
Schreibtisch/
vm/
# }}}

# root files {{{
Bilder
Dokumente
Musik
Videos
.bash_history
.bash_logout
.bash_profile
.dmrc
.esd_auth
.face
.face.icon
.gtkrc-2.0
.history
.icon
.jameica.properties
.lesshst
.lynxrc
.python_history
.wavemonrc
.Xauthority
.Xclients
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump-morpheus-*
.zsh_history
# }}}

# .config folders {{{
.config/asunder/
.config/autostart/
.config/balena-etcher-electron/
.config/cmus/
.config/Code - OSS/
.config/darktable/
.config/dconf/
.config/enchant/
.config/falkon/
.config/filezilla/
.config/gcolor3/
.config/gconf/
.config/ghb/
.config/GIMP/
.config/gmic/
.config/GREYC/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/inkscape/
.config/keepassxc/
.config/Kvantum/
.config/libfm/
.config/libreoffice/
.config/manjaro/
.config/mc/
.config/MusicBrainz/
.config/neofetch/
.config/nitrogen/
.config/nomacs/
.config/pamac/
.config/pcmanfm/
.config/pulse/
.config/qt5ct/
.config/rclone/
.config/scribus/
.config/skypeforlinux/
.config/VirtualBox/
.config/xfburn/
.config/yay/
.config/youtube-dlg/
# }}}

# .config files {{{
.config/compton.conf
.config/i3-scrot.conf
.config/kid3rc
.config/manjaro-hello.json
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
# }}}

# .local folders {{{
.local/share/gegl-0.4
.local/share/gvfs-metadata
.local/share/icons
.local/share/keyrings
.local/share/mc
.local/share/nomacs
.local/share/nvim
.local/share/qutebrowser
.local/share/ranger
.local/share/scribus
.local/share/Trash
.local/share/zathura
# }}}

# .local files {{{
.local/share/gsettings-data-convert
.local/share/recently-used.xbel
# }}}
