# path:   /home/klassiker/.local/share/repos/dotfiles/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2024-01-14T10:30:24+0100

# .config
/.config/btop/btop.log
/.config/cmus/playlists/
/.config/cmus/*-history
/.config/cmus/autosave
/.config/cmus/cache
/.config/cmus/lib.pl
/.config/cmus/queue.pl
/.config/cmus/resume
/.config/mc/mcedit/
/.config/mc/hotlist.bak
/.config/neofetch/images
/.config/newsboat/history.*
/.config/qutebrowser/bookmarks/
/.config/qutebrowser/qsettings/
/.config/qutebrowser/autoconfig.yml
/.config/qutebrowser/quickmarks
/.config/ranger/colorschemes/__*
/.config/systemd/user/*.target.wants/
/.config/zsh/.zcompdump

# .local
/.local/share/mc/mcedit/
/.local/share/mc/filepos
/.local/share/mc/history
/.local/state/w3m/bookmark.html
/.local/state/w3m/cookie
