# vim:fileencoding=utf-8:ft=gitconfig:foldmethod=marker

# path:       ~/.gitconfig
# user:       klassiker [mrdotx]
# github:     https://github.com/mrdotx/dotfiles
# date:       2019-11-03 17:43:45

[user]
    name = mrdotx
    email = klassiker@hotmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[color "status"]
    branch = magenta
    untracked = cyan
    unmerged = yellow
#    header = bold black
[format]
#    pretty = oneline
[pack]
    threads = 0
[credential]
#    helper = cache --timeout 7200
#    helper = libsecret
[core]
    editor = vim -c startinsert
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = vimdiff
    conflictstyle = diff
[difftool]
    prompt = true
    trustExitCode = true
[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[alias]
    m = mergetool
    d = difftool
