/*
path:   /home/klassiker/Projects/repos/dotfiles/.config/firefox/userChrome.css
author: klassiker [mrdotx]
url:    https://github.com/mrdotx/dotfiles
date:   2026-10-02T05:23:37+0200
*/

:root {
    /* border-radius: proton = 8px */
    --border-radius-small: 2px !important;
    --border-radius-xsmall: 2px !important;
    --border-radius-medium: 3px !important;
    --border-radius-large: 4px !important;
    --border-radius-xlarge: 4px !important;
    --border-radius-circle: 8px !important;
}
