# path:   /home/klassiker/.local/share/repos/dotfiles/.config/polybar/modules/xkeyboard.cfg
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dotfiles
# date:   2021-06-23T21:39:24+0200

[module/xkeyboard]
    type = internal/xkeyboard
    blacklist-0 = num lock
    blacklist-1 = scroll lock
    format-prefix = " "
    label-layout = %layout%
    indicator-icon-0 = caps lock;;
    label-indicator-on = %icon%
