/*
path:       ~/.config/qutebrowser/default.css
user:       klassiker [mrdotx]
github:     https://github.com/mrdotx/dotfiles
date:       2019-12-18 12:00:15
*/

/* additional overall settings */
header,
div,
li,
p,
span,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
section,
summary,
#content,
.section,
.global,
.u-backgroundWhite
 {
  background-color: #191919 !important;
/*  background-image: none !important; */
  color: #cecece !important;
}

strong {
  background-color: #020202 !important;
/*  background-image: none !important; */
  color: #c5c4ed !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #191919 !important;
}

nav,
#mainbar,
#archnavbar,
 {
  background-color: #f94109 !important;
}

.blob-code span {
  background-color: #191919 !important;
}
.highlight span {
  background-color: #296187 !important;
}
