[Desktop Entry]
Type=Application
Name=unicode-symbols
Comment=unicode symbols emojies
Icon=face-smile
StartupNotify=false
Terminal=false
Exec=dmenu_unicode_symbols.sh
Categories=Utility;
