[Desktop Entry]
Version=1.1
Type=Application
Name=calc
Comment=calculate with python
Icon=accessories-calculator
Exec=st -T "calculator" -e bc
Actions=
Categories=Utility;
