[Desktop Entry]
Version=1.1
Type=Application
Name=youtube
Comment=search youtube with youtube-dl and play it with mpv
Icon=multimedia-video-player
Exec=dmenu_youtube.sh
Actions=
Categories=Video;
