[Desktop Entry]
Version=1.1
Type=Application
Name=Service
Comment=Services de-/activate
Icon=system-config-services
Exec=rofi_service.sh
Actions=
Categories=Utility;
