[Desktop Entry]
Version=1.1
Type=Application
Name=color picker
Comment=pick colors from screen and show hex value
Icon=preferences-color
Exec=color_picker.sh
Actions=
Categories=Utility;Graphics;
