[Desktop Entry]
Type=Application
Name=cdw
Comment=burn/erase cd/dvd
Icon=disk-burner
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "cdw floating" -e cdw
Categories=Utility;ConsoleOnly;
