[Desktop Entry]
Version=1.1
Type=Application
Name=cdw
Comment=burn/erase cd/dvd
Icon=disk-burner
Exec=$TERMINAL -T "cdw" -e cdw
Categories=Utility;ConsoleOnly;
