[Desktop Entry]
Version=1.1
Type=Application
Name=ssh
Comment=open configured ssh sessions
Icon=utilities-terminal
Exec=$TERMINAL -T "ssh" -e fzf_ssh.sh
Categories=Utility;
