[Desktop Entry]
Version=1.1
Type=Application
Name=cmus
Comment=c* music player
Icon=multimedia-player
Exec=$TERMINAL -e polybar_music.sh --start
Actions=
Categories=AudioVideo;ConsoleOnly;
