[Desktop Entry]
Version=1.1
Type=Application
Name=Mount
Comment=Mount unmount drives
Icon=drive-removable-media
Exec=rofi_mount.sh
Actions=
Categories=Utility;
