[Desktop Entry]
Type=Application
Name=iptv
Comment=search channels from m3u list and play it with mpv
Icon=multimedia-video-player
StartupNotify=false
Terminal=false
Exec=mpv --terminal=no --script-opts=menu_playlist=1 "$HOME/.local/share/repos/epg/playlists/xitylight.m3u"
Categories=AudioVideo;
