[Desktop Entry]
Type=Application
Name=youtube
Comment=search youtube with yt-dlp and play it with mpv
Icon=multimedia-video-player
StartupNotify=false
Terminal=false
Exec=dmenu_youtube.sh
Categories=AudioVideo;
