[Desktop Entry]
Version=1.1
Type=Application
Name=w3m
Comment=text orientated browser
Icon=web-browser
Exec=w3m.sh %u
Actions=
Categories=Network;WebBrowser;
