[Desktop Entry]
Type=Application
Name=window switcher
Comment=window switcher
Icon=desktop
StartupNotify=false
Terminal=false
Exec=dmenu_windows.sh
Categories=Utility;
