[Desktop Entry]
Version=1.1
Type=Application
Name=chameleon
Comment=pick colors from screen and show hex value
Icon=preferences-color
Exec=chameleon.sh
Actions=
Categories=Utility;Graphics
