[Desktop Entry]
Type=Application
Name=shortcuts
Comment=search for defined shortcuts
Icon=keyboard
StartupNotify=false
Terminal=false
Exec=dmenu_shortcuts.sh
Categories=Utility;
