[Desktop Entry]
Type=Application
Name=surf
Comment=suckless surf browser
Icon=web-browser
StartupNotify=false
Terminal=false
Exec=surf.sh %u
Categories=Network;WebBrowser;
