[Desktop Entry]
Type=Application
Name=w3m
Comment=text orientated browser
Icon=web-browser
StartupNotify=false
Terminal=false
Exec=w3m.sh %u
Categories=Network;WebBrowser;
