[Desktop Entry]
Version=1.1
Type=Application
Name=screenshot
Comment=take screenshot from desktop, window or selection
Icon=applets-screenshooter
Exec=dmenu_screenshot.sh
Actions=
Categories=Utility;Graphics;
