[Desktop Entry]
Version=1.1
Type=Application
Name=calc
Comment=calculate with python
Icon=accessories-calculator
Exec=st -T "calculator" -e python -ic "from __future__ import division; from math import *; from random import *"
Actions=
Categories=Utility;
