[Desktop Entry]
Type=Application
Name=man
Comment=search man pages
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "man floating" -e fzf_man.sh
Categories=Utility;
