[Desktop Entry]
Version=1.1
Type=Application
Name=alsa
Comment=set the default alsa playback device
Icon=audio-speakers
Exec=dmenu_alsa.sh
Categories=Utility;
