[Desktop Entry]
Version=1.1
Type=Application
Name=service
Comment=dervices de-/activate
Icon=system-config-services
Exec=rofi_service.sh
Actions=
Categories=Utility;
