[Desktop Entry]
Version=1.1
Type=Application
Name=password
Comment=copy password or username from gpg password-store to clipboard
Icon=password
Exec=dmenu_password.sh
Actions=
Categories=Utility;
