[Desktop Entry]
Version=1.1
Type=Application
Name=unicode-symbols
Comment=unicode symbols emojies
Icon=face-smile
Exec=dmenu_unicode_symbols.sh
Categories=Utility;
