[Desktop Entry]
Version=1.1
Type=Application
Name=bookmarks
Comment=bookmarks menu to open with link handler
Icon=bookmark-new
Exec=dmenu_bookmarks.sh
Actions=
Categories=Utility;
