[Desktop Entry]
Version=1.1
Type=Application
Name=Display Settings
Comment=Select and config display settings
Icon=cs-display
Exec=rofi_display.sh
Actions=
Categories=Utility;
