[Desktop Entry]
Type=Application
Name=alsa
Comment=set the default alsa playback device
Icon=audio-speakers
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "alsa floating" -e fzf_alsa.sh
Categories=Utility;
