[Desktop Entry]
Version=1.1
Type=Application
Name=pacman
Comment=manage packages with pacman and paru
Icon=software-center
Exec=$TERMINAL -T "pacman" -e fzf_pacman.sh
Categories=Utility;
