[Desktop Entry]
Version=1.1
Type=Application
Name=cmus
Comment=c* music player
Icon=multimedia-player
Exec=st -e cmus
Actions=
Categories=AudioVideo;ConsoleOnly;
