[Desktop Entry]
Type=Application
Name=pass
Comment=use username or password from gpg password-store
Icon=password
StartupNotify=false
Terminal=false
Exec=dmenu_pass.sh
Categories=Utility;
