[Desktop Entry]
Type=Application
Name=cpupower
Comment=manage cpupower
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "cpupower floating" -e fzf_cpupower.sh
Categories=Utility;System;
