[Desktop Entry]
Type=Application
Name=network manager
Comment=connect to wlan
Icon=preferences-system-network
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "iwd floating" -e fzf_iwd.sh
Categories=Network;
