[Desktop Entry]
Version=1.1
Type=Application
Name=man
Comment=search man pages
Icon=utilities-terminal
Exec=dmenu_man.sh
Actions=
Categories=Utility;
