[Desktop Entry]
Version=1.1
Type=Application
Name=password
Comment=use username or password from gpg password-store
Icon=password
Exec=dmenu_password.sh
Actions=
Categories=Utility;
