[Desktop Entry]
Version=1.1
Type=Application
Name=surf
Comment=Suckless Surf Browser
Icon=web-browser
Exec=surf.sh
Actions=
Categories=Network;WebBrowser;
