[Desktop Entry]
Version=1.1
Type=Application
Name=cdw
Comment=burn erase cd dvd
Icon=disk-burner
Exec=st -T "cdw" -e cdw
Actions=
Categories=Utility;ConsoleOnly;
