[Desktop Entry]
Type=Application
Name=usb
Comment=manage usb devices
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "usb floating" -e fzf_usb.sh
Categories=Utility;System;
