[Desktop Entry]
Version=1.1
Type=Application
Name=surf
Comment=suckless surf browser
Icon=web-browser
Exec=surf.sh %u
Actions=
Categories=Network;WebBrowser;
