[Desktop Entry]
Version=1.1
Type=Application
Name=ssh
Comment=connect to hosts over ssh
Icon=utilities-terminal
Exec=dmenu_ssh.sh
Categories=Utility;
