[Desktop Entry]
Version=1.1
Type=Application
Name=pass
Comment=use username or password from gpg password-store
Icon=password
Exec=dmenu_pass.sh
Actions=
Categories=Utility;
