[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal emulator for X
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Exec=st
Categories=System;TerminalEmulator;
