[Desktop Entry]
Version=1.1
Type=Application
Name=iptv
Comment=search channels from m3u list and play it with mpv
Icon=multimedia-video-player
Exec=dmenu_iptv.sh
Categories=AudioVideo;
