[Desktop Entry]
Version=1.1
Type=Application
Name=network manager
Comment=connect wlan
Icon=preferences-system-network
Exec=st -T "network manager" -e wlan.sh -nm
Actions=
Categories=Network;
