[Desktop Entry]
Type=Application
Name=virtualbox
Comment=start virtual machine without frontend
Icon=virtualbox
StartupNotify=false
Terminal=false
Exec=$TERMINAL -T "virtualbox floating" -e fzf_virtualbox.sh
Categories=Utility;
