[Desktop Entry]
Type=Application
Name=color picker
Comment=pick colors from screen and copy/show hex value
Icon=preferences-color
StartupNotify=false
Terminal=false
Exec=color_picker.sh
Categories=Utility;Graphics;
