[Desktop Entry]
Version=1.1
Type=Application
Name=man
Comment=search man pages
Icon=utilities-terminal
Exec=$TERMINAL -T "man" -e fzf_man.sh
Actions=
Categories=Utility;
